#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.chat-box--heading{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 200px);
  border-radius: 10px;
}

.chatbox-wrapper--input{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  input{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    font-family: inherit;
    background-color: #f0f0f0;
    color: #000;
  }
  button{
    width: 100px;
    height: 100%;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    background-color: rgb(25, 110, 230);
  }
}

.chat-box--messages{
  display: flex;
  width: 100%;
  .bubble{
    display: flex;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;  
    .user{
      background-color: rgb(55, 98, 238);
      justify-content: flex-end;
      color: #fff;
    }
    .ai{
      background-color: #f0f0f0;
      justify-content: flex-start;
      color: #000;
    }
  }
}