.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000000;
  z-index: 1000;
  box-sizing: border-box;

  &__logo {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__links {
    display: flex;
    gap: 2rem;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
